{% extends "header.html" %}
<!DOCTYPE html>
{% block content %}
<div class="col-md-12">
    <br />
    <div class="col-md-3 col-md-offset-6 centered">
    <br />
    <br />
    </div>
    <div class="col-md-10 col-md-offset-4 centered">
    <h2>Cuentas</h2>
        {% if cuentas %}
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Calle</th>
                <th>Complemento</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th>Email</th>
            </thead>
        {% for cuenta in cuentas %}
            <tr>
                <td>{{ cuenta.id }}</td>
                <td><a href="{{ cuenta.get_absolute_url }}">{{ cuenta.nombre }}</a></td>
                <td>{{ cuenta.calle }}</td>
                <td>{{ cuenta.complemento }}</td>
                <td>{{ cuenta.ciudad }}</td>
                <td>{{ cuenta.estado }}</td>
                <td>{{ cuenta.email }}</td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        <p>No tienes cuentas a tu nombre.</p>
        {% endif %}
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="/lista_cuentas?page={{ page_obj.previous_page_number }}">anterior</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="/lista_cuentas?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="/lista_cuentas?page={{ page_obj.next_page_number }}">siguiente</a></li>
            {% endif %}
        </ul>
        {% endif %}
    <h2>Ordenes</h2>
        {% if ordenes %}
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cuenta</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th>Estatus</th>
            </thead>
        {% for orden in ordenes %}
            <tr>
                <td><a href="{{ orden.get_absolute_url }}">{{ orden.orden_id}}</a></td>
                <td>{{ orden.fecha_orden }}</td>
                <td>{{ orden.cuenta }}</td>
                <td>{{ orden.subtotal }}</td>
                <td>{{ orden.total }}</td>
                <td>{{ orden.status }}</td>
            </tr>
        {% endfor %}
        {% else %}
        <p>No tienes ordenes a tu nombre.</p>
        </table>
        {% endif %}
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="/lista_ordenes?page={{ page_obj.previous_page_number }}">anterior</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="/lista_ordenes?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="/lista_ordenes?page={{ page_obj.next_page_number }}">siguiente</a></li>
            {% endif %}
        </ul>
        {% endif %}


    </div>
</div>

{% endblock %}
