{% extends "header.html" %}
<!DOCTYPE html>
{% block content %}
<div class="col-md-12">
    <br />
    {% if perms.crm.add_producto %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'producto-add' %}" role="button">Crear</a>
    {% endif %}
    <br />
    <br />
    <div class="col-md-10 col-md-offset-4 centered">
    <h2>Productos</h2>
        {% if lista_productos %}
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Precio de Lista</th>
                <th>Precio de Compra</th>
                <th>Stock</th>
            </thead>
        {% for producto in lista_productos %}
            <tr>
                <td>{{ producto.id}}</td>
                <td><a href="{{ producto.get_absolute_url }}">{{ producto.nombre }}</a></td>
                <td>{{ producto.tipo }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.precio_lista}}</td>
                <td>{{ producto.precio_compra }}</td>
                <td>{{ producto.stock }}</td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="/lista_productos?page={{ page_obj.previous_page_number }}">anterior</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="/lista_productos?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="/lista_productos?page={{ page_obj.next_page_number }}">siguiente</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
